
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.VC.db
*.VC.VC.opendbsssss

*.log
*.tmp

.DS_Store

.vscode/
.idea/

# Visual Studio cache
.vs/
*.ipch

# Rider / JetBrains
.idea/
*.sln.iml
*.DotSettings.user

# Rider user-specific
.idea/.idea.*
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/shelf

# Rider Unreal
.idea/.rider/

config/
